@charset "UTF-8";


.footer_login {
    width: 100%;
    /* footer의 높이 */
    position: flex;  
    bottom: 0;
    left: 0;
}


input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover {
  background: rgb(77,77,77);
  color: #fff;
}