<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipe.mapper.MypageMapper">

	<update id="updateMember" parameterType="com.recipe.model.MemberVO">
        UPDATE users
        SET
            user_pass = #{user_pass},
            user_email = #{user_email},
            user_postcode = #{user_postcode},
            user_addr = #{user_addr},
            user_detailaddr = #{user_detailaddr},
            user_extraaddr = #{user_extraaddr}
        WHERE
            user_id = #{user_id}
    </update>

</mapper>